<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recipe Detail</title>
</head>
<body>
    <h1 th:text="${recipe.title}">Recipe Title</h1>
    <p>Created at: 
        <span th:text="${#temporals.format(recipe.createdAt, 'yyyy-MM-dd HH:mm:ss')}"></span>
    </p>
    <p>Author: <span th:text="${recipe.user.username}"></span></p>
    <p th:text="${recipe.content}">Recipe Content</p>
	<img th:src="@{/uploads/{imagePath}(imagePath=${recipe.imagePath.substring('/uploads/'.length())})}" alt="Recipe Image">
</body>
</html>
