HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
.metadata/.plugins/org.eclipse.core.resources/.projects/RecipeSpark/.indexes/history.index
.metadata/.plugins/org.eclipse.core.resources/.history/7a/70b83d82a3a5001f15c4a617d92bfd3b
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/RecipeSpark/2024/11/47/refactorings.history
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/RecipeSpark/2024/11/47/refactorings.index
/.metadata/.plugins/org.eclipse.core.resources/.projects/RecipeSpark/.indexes/e4/b9/22/81/e7
*.snap
/.metadata/.plugins/org.eclipse.core.resources/.history/f4
/.metadata/.plugins/org.eclipse.core.resources/.history/b6
/.metadata
/static/uploads/

.env

.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.niblocal
.properties
.settings/
.loadpath
.recommenders
