
<body>

    <!-- Header Include -->
    <div th:replace="layout/header :: header"></div>

    <!-- Hero Header -->
    <div class="hero-header">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 text-center text-lg-start">
                    <h1 class="display-3 text-white animated slideInLeft">Discover & Share<br>Your Favorite Recipes</h1>
                    <p class="text-white animated slideInLeft mb-4 pb-2">
						Join RecipeSpark and explore a world of delicious recipes. Share your favorite dishes and connect with a community of passionate food lovers.
                    </p>
                    <a href="" class="btn btn-primary py-3 px-5 me-3 animated slideInLeft">Book A Table</a>
                </div>
                <div class="col-lg-6 text-center text-lg-end">
                    <img class="img-fluid" src="img/hero.png" alt="Hero Image">
                </div>
            </div>
        </div>
    </div>

	<!-- Service Start -->
	      <div class="container-xxl py-5">
	          <div class="container">
	              <div class="row g-4">
	                  <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
	                      <div class="service-item rounded pt-3">
	                          <div class="p-4">
	                              <i class="fa fa-3x fa-user-tie text-primary mb-4"></i>
	                              <h5>Food Lovers</h5>
	                              <p>Connect with a vibrant community of food enthusiasts.</p>
	                          </div>
	                      </div>
	                  </div>
	                  <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
	                      <div class="service-item rounded pt-3">
	                          <div class="p-4">
	                              <i class="fa fa-3x fa-utensils text-primary mb-4"></i>
	                              <h5>Endless Recipes</h5>
								  <p>Find recipes for every occasion, from quick meals to elaborate feasts.</p>
	                          </div>
	                      </div>
	                  </div>
	                  <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
	                      <div class="service-item rounded pt-3">
	                          <div class="p-4">
	                              <i class="fa fa-3x fa-cart-plus text-primary mb-4"></i>
								  <h5>Share Your Recipes</h5>
								  <p>Upload your culinary creations and inspire others with your innovative dishes.</p>
	                          </div>
	                      </div>
	                  </div>
	                  <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
	                      <div class="service-item rounded pt-3">
	                          <div class="p-4">
	                              <i class="fa fa-3x fa-headset text-primary mb-4"></i>
								  <h5>Engage and Interact</h5>
								  <p>Comment, review, and connect with fellow food enthusiasts to exchange tips and ideas.</p>
	                          </div>
	                      </div>
	                  </div>
	              </div>
	          </div>
	      </div>
	      <!-- Service End -->




    <!-- Footer Include -->
    <div th:replace="layout/footer :: footer"></div>

</body>
